<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/8/2-14:47
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: notice.html
 *-->
<!-- 引入基类模板 -->
{extend name='public/ext' /}


{block name="header"}
 notice 通知组件
{/block}

{block name="content"} <!--表格区-->
<button class="layui-btn" id="create1">生成notice</button>
<button class="layui-btn" id="closeAll">移除全部</button>

{/block}

{block name="js"} <!--js处理区-->
<script  src="{__ADMIN_PATH}js/base.js"></script >
<script >

    layui.use(['notice','layer'], function () {
        var notice = layui.notice; // 允许别名 toastr
        var layer=layui.layer;

        // 初始化配置，同一样式只需要配置一次，非必须初始化，有默认配置
        notice.options = {
            closeButton:true,//显示关闭按钮
            debug:false,//启用debug
            positionClass:"toast-top-right",//弹出的位置,
            showDuration:"400",//显示的时间
            hideDuration:"1000",//消失的时间
            timeOut:"2000",//停留的时间
            extendedTimeOut:"1000",//控制时间
            showEasing:"swing",//显示时的动画缓冲方式
            hideEasing:"linear",//消失时的动画缓冲方式
            iconClass: 'toast-info', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名
            onclick: null, // 点击关闭回调
        };


        notice.warning("成功");
        notice.info("提示信息：毛都没有...");
        notice.error("大佬，我咋知道怎么肥四！");
        notice.success("大佬，我咋知道怎么肥四！");


        let notice01;
        $("#create1").click(function () {
            let options = {
                closeButton:true,//显示关闭按钮
                debug:false,//启用debug
                positionClass:"toast-top-center",//弹出的位置,
                showDuration:"300",//显示的时间
                hideDuration:"1000",//消失的时间
                timeOut:"0",//停留的时间,0则不自动关闭
                extendedTimeOut:"1000",//控制时间
                showEasing:"swing",//显示时的动画缓冲方式
                hideEasing:"linear",//消失时的动画缓冲方式
                iconClass: 'layui-icon layui-icon-praise', // 自定义图标，有内置，如不需要则传空 支持layui内置图标/自定义iconfont类名,需要完整加上 layui-icon/icon iconfont
                onclick: null, // 点击关闭回调
            }
            notice01 = notice.success("大佬，我咋知道怎么肥四！","我是标题",options);
        });


        $("#closeAll").click(function () {
            layer.msg('移除生成的notice通知');
            notice.clear(notice01);
        });


        window.setTimeout(function () {

        }, 3500);


    });
</script >


{/block}