<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$Lucky_Name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{__PLUG_PATH}layui/css/layui.css">
    <script src="{__ADMIN_PATH}js/jquery.min.js"></script>
    <script src="{__PLUG_PATH}layui/layui.js"></script>
    <link href="{__ADMIN_PATH}css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <script >
        var local_url="{__ADMIN_PATH}js/";
    </script >
    <script src="{__ADMIN_PATH}js/base.js"></script >
</head>
<body>