<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/7/16-17:08
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: duan_img.html
 **************************************************************
 *                                                            *
 *   .=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-.       *
 *    |                     ______                     |      *
 *    |                  .-"      "-.                  |      *
 *    |                 /            \                 |      *
 *    |     _          |              |          _     |      *
 *    |    ( \         |,  .-.  .-.  ,|         / )    |      *
 *    |     > "=._     | )(__/  \__)( |     _.=" <     |      *
 *    |    (_/"=._"=._ |/     /\     \| _.="_.="\_)    |      *
 *    |           "=._"(_     ^^     _)"_.="           |      *
 *    |               "=\__|IIIIII|__/="               |      *
 *    |              _.="| \IIIIII/ |"=._              |      *
 *    |    _     _.="_.="\          /"=._"=._     _    |      *
 *    |   ( \_.="_.="     `--------`     "=._"=._/ )   |      *
 *    |    > _.="                            "=._ <    |      *
 *    |   (_/                                    \_)   |      *
 *    |                                                |      *
 *    '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-='      *
 *                                                            *
 *                    JUST FIND YOUR BUG !                    *
 **************************************************************
 *-->

<!-- 引入基类模板 -->
{extend name='public/base' /}


{block name="search"}

{:widget('forms/search',array('name','段子搜索','请输入标题'))}

<div class="layui-inline">
    <label class="layui-form-label">新闻分类：</label>
    <div class="layui-input-inline">
        <select name="cate" lay-search="">
            <option value="">请选择分类</option>
            <option value="text">文本类型</option>
            <option value="gif">动态图</option>
            <option value="image">静态图</option>
        </select>
    </div>
</div>

{/block}

{block name="btn"}
<!--按钮区-->
{:widget('forms/Delbtn',array('批量删除'))}

{:widget('forms/reload')}

{/block}

{block name="table"} <!--表格区-->

{:widget('forms/table')}

{/block}

{block name="js"} <!--js处理区-->


<style type="text/css">
    .layui-table-cell{
        text-align:center;
        height: auto;
        white-space: normal;
    }
    .layui-table img{
        max-width:300px;
        max-height: 50px;
    }
</style>

<!--模板-->
<script type="text/html" id="operationTpl">
    <a href="javascript:;"   class="layui-btn layui-btn-normal layui-btn-xs "  onmouseover="tis(this)"  data-title="查看视频" lay-event="view"><i class="layui-icon layui-icon-camera" ></i></a>
    {:widget('forms/Delbtn',array('删除新闻',2))}

</script>


<script>

    layui.use(['element', 'table', 'form', 'jquery', 'laydate','lucky'], function () {
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var lucky=layui.lucky;

        form.render();

        // layer.load(2);
        table.render({
            elem: '#tableFilter',
            url:"{:url('module/duan_img')}",
            //toolbar: '#toolbarDemo',
            even: true, //开启隔行背景
            id:'table_id',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip','last'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 5 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limit:60
                ,limits:[20,30,40,60,80,100]
            },
            //  height: 'full-100',
            text: {
                none: '暂无相关数据'
            },
            cols: [[
                {type: 'checkbox'},
                // {field: 'id',  title: 'ID',width:60},
                {field: 'thumbnail', title: '缩略图', style:'cursor: pointer;',width: 150, height:100, align: "center",templet:function (d) {
                         if(d.type=="text"){
                              return '无图';
                         }else {
                             return '<div><img src="'+d.thumbnail+'"  class="open" layer-index="100" alt="无图" /></div>';
                         }
                    }},
                {field: 'text', minWidth: 250, title: '标题名称'},
                {field: 'header',style:'cursor: pointer;',title: '头像',width: 85,templet:function (d) {
                        return '<div><img src="'+d.header+'"  class="layui-nav-img" layer-index="100" alt="无图" /></div>';
                    }},
                {field: 'username',style:'cursor: pointer;',title: '发布者',width: 100},
                {field: 'up',style:'cursor: pointer;',title: '喜欢数',width: 100,sort:true},
                {field: 'down',style:'cursor: pointer;',title: '厌恶数',width: 100,sort:true},
                {field: 'forward',style:'cursor: pointer;',title: '转发数',width: 100,sort:true},
                {field: 'type',style:'cursor: pointer;',title: '类型',width: 100,sort:true},
                {field: 'passtime', title: '发布时间',align: 'center',width:200},
                {fixed: 'right',templet: '#operationTpl', width: 100, align: 'center', title: '操作'}
            ]],

            done: function (res) {
                layer.closeAll('loading');
                hoverOpenImg();
            }
        });


        /**
         * 鼠标悬浮显示大图
         *
         */
        function hoverOpenImg(){
            var img_show = null; // tips提示
            $('td img').hover(function(){
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:100%;max-height: 600px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.0)']
                    ,area: ['12%']
                });
            },function(){
                layer.close(img_show);
            });
        }

        /**
         * 表格搜索
         */
        form.on('submit(search)', function (obj) {
            lucky.CreateSearch("table_id",obj.field); //查询
            return false;
        });

        /**
         * 监听单行工具操作
         */
        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data;
            // console.log(JSON.stringify(data));
            var _id=parseInt(data.id);
            var layEvent = obj.event;

            if(layEvent==="del"){
                lucky.Delete_data(_id,"{:url('module/delete_img')}","table_id");

            }else if(layEvent==="view"){
                if (data.type=="text"){
                    layer.msg("功能待开发",{time:1500});return false;
                } else {
                    layer.photos({
                        photos: {
                            title: "查看图片",
                            data: [{
                                src: data.thumbnail
                            }]
                        },
                        shade: .01,
                        closeBtn: 1,
                        offset:'50px',
                        anim: 5
                    })
                }

            }
            else {
                layer.msg("功能待开发",{time:1500});return false;
            }

        });


        var active = {

            del: function(){ //获取选中数据
                var checkStatus = table.checkStatus('table_id'),data = checkStatus.data;
                var num=0;
                var id=[];
                for (var i in data) {
                    num++;
                    id.push(data[i].id);
                }
                if (num<1) {
                    layer.msg("请选择一项",{time:1500});return false;
                }
                lucky.Delete_data(id,"{:url('module/delete_img')}","table_id");
            },
            reload: function(){
                lucky.CreateReload("table_id");
            },
            move:function () {
                var checkStatus = table.checkStatus('table_id'),data = checkStatus.data;
                var num=0;
                var id=[];
                for (var i in data) {
                    num++;
                    id.push(data[i].id);
                }
                if (num<1) {
                    layer.msg("请选择一项",{time:1500});return false;
                }
                layer.msg("功能待开发",{time:1500});return false;
            }

        };

        $('.do_btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });



    });

</script >

{/block}