<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/8/19-16:11
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: tags_search.html
 *-->

{/*引入基类模板*/}
{extend name='public/base' /}

{block name="content"}

<div class="pagebg top_banner"></div>
<div class="container">
    <h1 class="t_nav">
        <span>系统搜索到约有<strong style="color:blue">【{$count}】</strong>项符合搜索条件:<strong style="color:red"></strong> </span>
        <a href="/" class="n1">网站首页</a><a href="javascript:" class="n2">{$keys}</a>
    </h1>
    <!--blogsbox begin-->
    <div class="blogsbox">

        {volist name="datas" id="v" empty="暂时没有数据"}
        <div class="blogs" data-scroll-reveal="enter bottom over 1s">
            <h3 class="blogtitle">
                <a href="{$v.url}" target="_blank">
                    <font style="font-weight: bold;font-size: 1.07em">{$v.title}</font>
                </a>
                {if condition="$v.source eq '原创'"}
                <span class="layui-badge layui-bg-blue" style="float: right;">{$v.source}</span>
                {else /}
                <span class="layui-badge layui-bg-orange" style="float: right;">{$v.source}</span>
                {/if}
            </h3>
            <span class="blogpic"><a href="{$v.url}" title="{$v.title}">
                <img data-original="{$v.image_url}" alt="{$v.title}" title="{$v.title}"></a>
            </span>
            <p class="blogtext">
                {$v.description}
            </p>
            <div class="bloginfo">
                <ul>
                    <li class="author">
                        <a href="javascript:void">{$v.author}</a>
                    </li>
                    <li class="lmname">
                        <a href="javascript:">{$v.n_title}</a>
                    </li>
                    <li class="timer">{$v.create_time|friend_time}</li>
                    <li class="view"><span>{$v.hits}</span>次阅读</li>
                    <li class="like">{$v.zan}</li>
                </ul>
            </div>
        </div>
        {/volist}

        <!--分页-->
        <div style="margin: 30px 0;height:30px;text-align: center;line-height: 30px;">
            {$page}
        </div>

    </div>

    {/block}


    {block name="right"}

    {include file="public/right" /}
</div>
{/block}