<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/7/11-16:23
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: view_images.html
 *-->

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link type="text/css" rel="stylesheet" href="{__ADMIN_PATH}css/zzsc.css" />
</head>
<body>

<section class="cntr">
    <div class="m10">
        <h2 id="example" class="mt20 fcc4">Example</h2>
        <div class="mt10 fs1"><em>Ythe result below:</em></div>
        <div class="slideshowConfig">
            <table class="mt15 fs08">
                <tbody>
                <tr>
                    <td>&nbsp;Display options:</td>
                    <td>
                        <input type="checkbox" name="displayList" id="displayList" value="true" checked="checked">
                        <label for="displayList" class="itl">List</label>
                        <input type="checkbox" name="displayControls" id="displayControls" value="true" checked="checked" class="ml10">
                        <label for="displayControls" class="itl">Controls</label>
                        <input type="checkbox" name="maxHeight" id="maxHeight" value="true" class="ml10">
                        <label for="maxHeight" class="itl">Max-height to 450px (you can choose the size via the option)</label>
                    </td>
                </tr>
                </tobdy>
            </table>

        </div>

        {notempty name="data"}
        <div class="cntr mt20">
            <ul class="pgwSlideshow">


                {volist name="data" id="vo"}
                <li><img src="{$vo.img_url}" alt="San Francisco, USA" data-description="Golden Gate Bridge" data-large-src="{$vo.img_url}"></li>
                {/volist}

            </ul>
        </div>
        {/notempty}
    </div>
</section>
<script src="{__ADMIN_PATH}js/jquery.min.js" type="text/javascript"></script>

</body>
</html>
