<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/7/24-15:55
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: edit_yuju.html
 *-->

{include file="public/open_head" /}

<div class="ok-body" >

    <div class="layui-fluid" >

        <form class="layui-form" style="margin-top: 30px;">

            {:token()}
            <input type="hidden" name="id" value="{$info.id}" >

            <div class="layui-form-item " >
                <label class="layui-form-label" >语句类型：</label >
                <div class="layui-input-inline input-custom-width "  >
                    <select name="type" id="" class="layui-select">
                        <option value="34" {eq name="$info.type"  value="34"} selected {/eq} >每日一句  </option >
                        <option value="33" {eq name="$info.type"  value="33"} selected {/eq}> 名言名句 </option >
                    </select >
                </div >

                <label class="layui-form-label" >点赞量：</label >
                <div class="layui-input-inline input-custom-width "  >
                    <input type="number" min="0" name="zan" value="{$info.zan}"  autocomplete="off"  class="layui-input" >
                </div>
            </div >

            <div class="layui-form-item">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-inline">
                    <input type="radio" name="status" value="1" title="显示" {eq name="$info.status" value="1"} checked {/eq}>
                    <input type="radio" name="status" value="2" title="不显示" {eq name="$info.status" value="2"} checked {/eq}>
                </div>
                <div class="layui-form-mid layui-word-aux layui-text text-success">提示：是否在博客前端显示。</div>
            </div>

            <div class="layui-form-item "  >
                <label class="layui-form-label" >每日一句：</label >
                <div class="layui-input-block input-custom-width " >
                    <textarea class="layui-textarea" autocomplete="off" name="title" lay-verify="required" lay-verType="tips" lay-reqText="每日一句，记录美好的时刻！" placeholder="每日一句，记录美好的时刻！">{$info.title}</textarea>
                </div >

            </div >

            <div class="layui-form-item " >
                <label class="layui-form-label" >添加时间：</label >
                <div class="layui-input-inline input-custom-width "  >
                    <input type="text" value="{$info.time_formt}"  autocomplete="off"  class="layui-input" >
                </div >

                <label class="layui-form-label" >添加者：</label >
                <div class="layui-input-inline input-custom-width "  >
                    <input type="text" value="{$info.admin_name}"  autocomplete="off"  class="layui-input" >
                </div >
            </div >


            {:widget('forms/submit',array('add','立即保存',2))}


        </form>

    </div >


</div >



<script >


    layui.use(['element', 'form', 'jquery', 'upload','layedit','lucky'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;
        var layedit=layui.layedit;
        var lucky=layui.lucky;

        /**
         * 提交表单数据
         */
        form.on('submit(add)', function (data) {
            lucky.FormSubmit("{:url('yuju/AddYuju')}", data.field, "table_id", 1);
            return false;
        });




    })
</script >


</body>
</html>