<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/8/15-16:22
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: lists.html
 *-->

<!-- 引入基类模板 -->
{extend name='public/base' /}

{block name="content"}
<div class="pagebg top_banner"></div>
<div class="container">
    <h1 class="t_nav">
        {$nav_id|brand_nav}
        <a href="/" class="n1">网站首页</a><a href="javascript:" class="n2">{$nav_id|get_nav_name}</a>
    </h1>
    <div class="fly-main" style="overflow: hidden;">
        <ul class="fly-case-list">

            {volist name="datas" id="v"}
            <li >
                <a class="fly-case-img img_album" href="javascript:" data-url="{$v.thumbnail}" data-title="{$v.text}">
                    <img src="{$v.thumbnail}" alt="{$v.text}">
                </a>
                <h2><a href="javascript:" onclick="openimage(this)" data-url="{$v.thumbnail}" data-title="{$v.text}"> {$v.username}</a></h2>
                <p class="fly-case-desc">
                    {$v.text}
                </p>

                <div class="fly-case-info">
                    <a href="javascript:" class="fly-case-user">
                        <img src="{$v.header}"></a>
                    <p class="layui-elip" style="font-size: 12px;">{$v.passtime}</p>
                    <p>
                        <a class="fly-case-nums fly-case-active " href="javascript:;" data-type="showPraise" style=" padding:0 5px; color: #01AAED;">
                            <font class="zan_{$v.id}">{$v.up}</font>
                        </a>个赞
                        <a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" style=" padding:0 5px; color: #01AAED;">{$v.forward}</a>转发
                    </p>
                    <button class="layui-btn layui-btn-primary fly-case-active pic_zan" data-id="{$v.id}">点赞</button>
                </div>
            </li>
            {/volist}

        </ul>

    </div>

    <!--分页-->
    <div style="margin: 30px 0;height:30px;text-align: center;line-height: 30px;">
        {$page}
    </div>


</div>

<div class="clearfix"></div>

{/block}
