<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/8/28-15:05
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: native.html
 *-->
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>微信支付样例</title>
</head>
<body>
<div style="margin-left: 10px;color:#556B2F;font-size:30px;font-weight: bolder;">扫描支付模式</div><br/>
<img alt="模式一扫码支付" src="{$url}" style="width:150px;height:150px;"/>
</body>
</html>