<div class="guanzhu">
    <h2 class="hometitle">亿莲名片</h2>
    <ul>
        <li class="tencent"><a href="javascript:" target="_self"><span>QQ群号</span>292626152</a></li>
        <li class="qq"><a href="https://wpa.qq.com/msgrd?v=3&amp;uin=2998658517&amp;site=qq&amp;menu=yes" target="_self"><span>QQ号</span>2998658517</a></li>
        <li class="email"><a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=jackhhy520@qq.com" target="_self"><span>邮箱帐号</span>2998658517@qq.com</a></li>
        <li class="wxgzh"><span>微信公众号</span>fxcxy</li>
        <li class="wx"><img src="{__HOME_PATH}/images/gzh.png" alt='公众号二维码'></li>
    </ul>
</div>