<div class="yys-fluid yys-wrapper">
    <div class="layui-row lay-col-space20">
        <div class="layui-cos-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <section class="yys-body">
                <div class="yys-body-content clearfix changepwd">
                    <div class="layui-col-lg12 layui-col-md10 layui-col-sm12 layui-col-xs12" style="width:100%">
                        <div class="user-tables">
                            <table id="{$id}" lay-filter="{$tableFilter}"> </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>