<!--
 * Created by PhpStorm.
 * 版权所有: 2019~2022 [ hhygyl ]
 * Date: 2019/7/23-17:10
 * Link: http://luckyadmin.luckyhhy.cn
 * FileName: index.html
 *-->

<!-- 引入基类模板 -->
{extend name='public/base' /}


{block name="search"}

{:widget('forms/search',array('title','模型名称','请输入名称'))}

{/block}

{block name="btn"}
<!--按钮区-->
{:widget('forms/Delbtn',array('删除'))}
{:widget('forms/Addbtn',array('新增模型',1,'add'))}
{:widget('forms/reload')}

{/block}

{block name="table"} <!--表格区-->

{:widget('forms/table')}

{/block}

{block name="js"} <!--js处理区-->


<!--模板-->
<script type="text/html" id="operationTpl">
    {:widget('forms/Editbtn',array('编辑模型'))}
</script>



<script>

    layui.use(['element', 'table', 'form', 'jquery', 'laydate','lucky','tree'], function () {
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var tree=layui.tree;
        var lucky=layui.lucky;

        form.render();


        // layer.load(2);
        table.render({
            elem: '#tableFilter',
            url:"{:url('model/index')}",
            //toolbar: '#toolbarDemo',
            even: true, //开启隔行背景
            id:'table_id',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip','last'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 5 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limit:15
                ,limits:[15,60,70,80,90,100]
            },
            //height: 'full-100',
            text: {
                none: '暂无相关数据'
            },
            cols: [[
                   {type: 'checkbox'},
                {field: 'id',  title: 'ID',width:60,sort:true},
                {field: 'name', minWidth: 200, title: '模型名称',edit:"text"},
                {field: 'tablename',style:'cursor: pointer;',title: '模型表名',width:120},
                {field: 'index_template',style:'cursor: pointer;',title: '模块名',width:120},
                {field: 'tablename',style:'cursor: pointer;',title: '控制器名',width:110},
                {field: 'list_template',style:'cursor: pointer;',title: '列表方法',width:110},
                {field: 'show_template',style:'cursor: pointer;',title: '详细方法',width:110},
                {field: 'ip', title: 'IP',align: 'center',width:200},
                {field: 'time_formt', title: '添加时间',align: 'center',width:200,sort:true},
                {fixed: 'right',templet: '#operationTpl', width: 150, align: 'center', title: '操作'}
            ]],

            done: function (res) {
                layer.closeAll('loading');
            }
        });

        /**
         * 表格搜索
         */
        form.on('submit(search)', function (obj) {
            lucky.CreateSearch("table_id",obj.field); //查询
            return false;
        });


        /**
         * 监听单行工具操作
         */
        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data;
            // console.log(JSON.stringify(data));
            var _id=parseInt(data.id);
            var layEvent = obj.event;
            if(layEvent==="edit"){
                var urls="/admin/model/EditModel/id/"+_id;
                lucky.CreateForm("编辑模型",'40%','50%',urls,"table_id");
            }


        });


        var active = {
            add:function(){
                lucky.CreateForm("新增模型",'40%','50%',"{:url('model/AddModel')}","table_id");
            },
            reload: function(){
                lucky.CreateReload("table_id");
            },
            del:function () {
                var checkStatus = table.checkStatus('table_id'),data = checkStatus.data;
                var num=0;
                var id=[];
                for (var i in data) {
                    num++;
                    id.push(data[i].id);
                }
                if (num<1) {
                    layer.msg("请选择一项",{time:1500});return false;
                }
                lucky.Delete_data(id,"{:url('model/delete')}","table_id");
            }

        };

        $('.do_btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });

</script >


{/block}

